@model IEnumerable<EvaFinal.Models.hace>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.alumnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.examen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alumnos.NumMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.examen.ExamenId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.hacerid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.hacerid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.hacerid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
